.mm-image{
    width: fit-content;
    height: fit-content;
    /* margin-left: 10%; */
    position: absolute;   
    left: 15%;
    top: 20%;
}

.mm-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.box{
    position: absolute;
    left: 0%;
    top: 25%;
    background-color: #24424C;
    height: 10%;
    width: 100%;
    /* margin-top: 50px; */
    padding: 8%;
}

.head{
    position: absolute;   
    left: 7%;
    top: 70%;
}

.head h1{
    font-size: 96px;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    color: #24424C;
    text-align: center;
    /* margin:0px;
    padding:0px; */
    line-height:75px;
    letter-spacing: 0.14em;
}

.rectangle{
    position: absolute;
    width: 350px;
    height: 370px;
   
    left: 920px;
    top: 130px;
    background-color: #FFFFFF;
    border: 8px solid #24424C;
    box-sizing: border-box;
    border-radius: 42px;
    overflow: hidden;
    
}
.rectangle h1{
    background-color: #FFFFFF;
    margin: 10px 75px;
    color: #85CF4F;
}