.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    padding: 20px;
    flex-grow: 1;
}
.images{
    width: 100%;
    border-radius: 3%;
    text-align: center;
}
.gallery{
    padding: 20px;
}