.About{
    width: 100%;
    color: #fff;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(../../../Assets/aboutbg.svg);
}

.about-heading{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
    margin: auto;
}

.about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.about-content-text{
    width:85%;
}
.about-content-text p{
    text-align: left;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.about-content-img{
    max-width: 35%;
}

.about-content-img img{
    max-width: 80%;
}
@media screen and (max-width:625px){
    .About{
        background-image: url(../../../Assets/aboutbgMob.svg);
    }
    .about-content-img{
        margin:20px;
    }
    .about-heading{
        margin-top: 40px;
    }
    .about-content-text p{
        font-size: 22px;
    }
}
@media screen and (max-width:600px){
    .about-heading{
        font-size: 36px;
    }
}
@media screen and (max-width:400px){
    .about-heading{
        font-size: 30px;
    }
}
@media screen and (max-width:450px){
    .about-content{
        flex-direction: column-reverse;
    }
    .about-content-img{
        max-width: 60%;
    }
    .about-content-text{
        width: 80%;
    }

    .about-content-text p{
        text-align: center;
    }
}




