.ODOR{
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ODOR-heading{
    text-align: center;
    font-size: 48px;
    padding-bottom: 20px;
    color: #24424C;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}

.ODOR-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ODOR-content-text{
    width: 45%;
}
.ODOR-content-text p{
    text-align: left;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

.ODOR-content-img{
    max-width: 35%;
}

.ODOR-content-img img{
    max-width: 80%;
}

@media screen and (max-width:450px){
    .ODOR-content-img{
        display: none;
    } 
    .ODOR-content-text{
        width: 70%;
    }

    .ODOR-content-text p{
        text-align: center;
    }
}




