.ODOR{
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ODOR-heading{
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #24424C;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}

.ODOR-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ODOR-content-text{
    width: 50%;
}
.ODOR-content-text p{
    text-align: left;
    font-family: Josefin Sans;
    font-style: normal;
    margin-left: 50px;
    font-weight: 200;
    font-size: 35px;
}

.ODOR-content-img{
    max-width: 35%;
}

.ODOR-content-img img{
    max-width: 80%;
}
@media screen and (max-width:600px){
    .ODOR-heading{
        font-size: 36px;
    }
    .ODOR-content-text p{
        margin-left: 0px;
        font-size: 22px;
    }
}
@media screen and (max-width:400px){
    .ODOR-heading{
        font-size: 28px;
    }
}
@media screen and (max-width:450px){
    .ODOR-content{
        flex-direction: column;
    }
    .ODOR-content-img{
        max-width: 60%;
    }
    .ODOR-content-text{
        width: 70%;
    }

    .ODOR-content-text p{
        text-align: center;
    }
}




