.ODOR{
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ODOR-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    color: #24424C;
    margin: auto;
}

.ODOR-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.ODOR-content-text{
    width: 50%;
}
.ODOR-content-text p{
    text-align: left;
    margin-left: 50px;
    font-weight: 400;
    font-size: 22px;
}

.ODOR-content-img{
    max-width: 35%;
    margin-right: 50px;
}

.ODOR-content-img img{
    max-width: 80%;
}
@media screen and (max-width:600px){
    .ODOR-heading{
        font-size: 36px;
        padding-top: 40px;
    }
    .ODOR-content-text p{
        margin-left: 0px;
        font-size: 18px;
        text-align: left;
    }
    .ODOR-content-img{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:400px){
    .ODOR-heading{
        font-size: 28px;
    }
}
@media screen and (max-width:450px){
    .ODOR-content{
        flex-direction: column;
    }
    .ODOR-content-img{
        max-width: 60%;
    }
    .ODOR-content-text{
        width: 80%;
    }

}




