.header{
    width: 100%;
    min-height: 100vh;
    padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 12%;
    display: flex;
    flex-direction: column; 
}

.first{
    z-index: 100;
}

@media screen and (max-width:600px){
    .header{
        display: none;
    }
}