.Header{
    
}

.header-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #24424C;
    background-image: url('../../../Assets/bg_pattern.png');
    background-size: contain;
    margin-bottom: 50px;
}

.header-logo{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    max-width: 30%;
    min-width: 200px;
}
.header-logo-img {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}


.header-logo-text-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.header-logo-college-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.frame{
    width: 20%;
    position: absolute;
    bottom: -40px;
}
@media screen and (max-width:850px){
    .header-logo-text-p{
        font-size: 38px;
    }
}
@media screen and (max-width:700px){
    .header-logo-text-p{
        font-size: 30px;
    }
    .header-logo-text{
        position: absolute;
        bottom: -60px;
    
    }
}
@media screen and (max-width:625px){
    .header-updates{
        display: none;
    }
    .header-updates-2{
        display: flex;
    }
    .header-container{
        justify-content: center;
    }
    .header-logo{
        margin: 0;
    }
    .header-container{
        margin-bottom: 80px;
    }
}
