
.header-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #24424C;
    background-image: url('../../../Assets/bg_pattern.png');
    background-size: contain;
    margin-bottom: 50px;
}

.header-logo{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    max-width: 30%;
    min-width: 200px;
}
.header-logo-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


.header-logo-text-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.header-logo-college-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.frame{
    width: 20%;
    position: absolute;
    bottom: -40px;
}

.scroll-down {
	position: center;
	left: 50%;
	bottom: 15px;
    margin-top: 30px;
	display: block;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

@media screen and (max-width:850px){
    .header-logo-text-p{
        font-size: 45px;
        padding-top: 20px;
    }
    .header-container{
        background-image: url('../../../Assets/bg1.png');
        height:100vh;
    }
    .header-logo-college-p{
        display: none;
    }
}
@media screen and (max-width:700px){
    .header-logo-text-p{
        font-size: 30px;
    }
    .header-logo-text{
        position: absolute;
        bottom: -60px;
    
    }
}
@media screen and (max-width:625px){
    .header-updates{
        display: none;
    }
    .header-updates-2{
        display: flex;
    }
    .header-container{
        justify-content: center;
    }
    .header-logo{
        margin: 0;
    }
    .header-container{
        margin-bottom: 80px;
    }
}
