*{
  background-color: #E5E5E5;
  /* background-image: url('../../Assets/bgm.png'); */
}

.body{
  position: relative;
  font-family: Josefin Sans;
  color: #24424C;
}

.logo-image{
  position: absolute;
  top: 20px;
  left: 50px;
  /* width: 65px;
  height: 65px; */
  
}

.logo-image img{
width: 75px;
height: 70px;
border-radius: 50%;
}

.title {
  position: absolute;
  top: 35px;
  left: 130px 
}
 
.title h5 {
  margin: 0%;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height : 20px;
  letter-spacing: 0.09em;
}

.navbar {
  position: fixed;
  top: 22px;
  left: 33%;
  background-color: #E5E5E5;
  width: 60%;
  margin-top: 10px; 
} 
  
.navbar a {
  float: left; 
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #24424C;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 12%;
}

.navbar a:hover {
  background-color: #24424C;
  text-decoration: none;
  color: floralwhite; 
}



