.footer{

    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

}

.footer p{
    font-size: 23px;
    line-height: 20px;
}

.footer-wave{
    width: 100%;
}
.f-contents{
    background-color: #24424C;
    color: #fff;
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    padding: 10px;
    align-items: center;

}

.flogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.flogo-img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.flogo-text{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /* margin-top: 20px; */
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.14em;
    text-align: left;
}
.footer-links{
    /* display: flex;
    flex-direction: column nowrap;
    justify-content: flex-start; */
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-weight: 500;
    font-style: normal;


}

.footer-links a{
    text-decoration: none;
    color: #fff;
}

.footer-h{
    width: 2px;
    height: 120px;
    background-color: #fff;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-links-item{
    font-size: 23px;
}

@media screen and (max-width: 750px){
    
    .footer p{
        font-size: 18px;
        line-height: 20px;
    }
    
}

@media screen and (max-width:550px){
    .footer p{
        font-size: 16px;
        line-height: 15px;
    }
    .footer-h{
        height: 80px;
    
    }
}

@media screen and (max-width:440px){
    .footer p{
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
    }
}