.footer{

    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

}

.footer-wave{
    width: 100%;
}
.f-contents{
    background-color: #24424C;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 10px;


}
.flogo{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.flogo-img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.flogo-text{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /* margin-top: 20px; */
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.14em;
    text-align: left;
}
.footer-links{
    /* display: flex;
    flex-direction: column nowrap;
    justify-content: flex-start; */
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-weight: 500;
    font-style: normal;


}

.footer-links a{
    text-decoration: none;
    color: #fff;
}
.footer-social{
    width: 150px;
    height: 40px;
    margin-left: 37px;
    

}

@media screen and (max-width: 625px){
    .flogo{
        display: none;
    }
}