.footer{

    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

}

.footer p{
    font-size: 23px;
    line-height: 20px;
}

.footer-wave{
    width: 100%;
    margin-top: 70px;
}
.f-contents{
    background-color: #24424C;
    color: #fff;
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    padding: 30px;
    align-items: center;
    margin-top: -1px;

}

.flogo{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: flex-start;
}

.flogo-img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.flogo-text{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 16px;
    font-family: 'Montserrat';
    /* margin-top: 20px; */
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.14em;
    text-align: left;
}
.flogo-text-space{
    margin-bottom: 5px;
}
.footer-links{
    /* display: flex;
    flex-direction: column nowrap;
    justify-content: flex-start; */
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-family: 'Montserrat';

}

.footer-links a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
}
.other-link{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
}

.footer-h{
    width: 2px;
    height: 120px;
    background-color: #fff;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    
}
.heart{
    margin-bottom: 5px;
    padding-bottom: 1px;
}
.link-heading{
    margin-bottom: 10px;
}
.social-links-1{
    text-decoration: none;
}
.social-links-item{
    font-size: 40px;
}
.footer-credit{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Montserrat';
    letter-spacing: 0.1em;
}
.footer-credit h3{
    font-size: 25px;
    font-weight: bold;
}
.footer-credit p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.14em;
}

@media screen and (max-width: 769px){
    
    .footer p{
        font-size: 18px;
        line-height: 20px;
    }
    .footer-wave{
        display: none;
    }
    .flogo{
        display: none;
    }
    .footer-credit{
        display: none;
    }
    .f-contents{
        margin-top: 100px;
        padding-top: 20px;
    }
    .social-links{
        margin-bottom: 10px;
    }
    .link-heading{
        margin-bottom: 10px;
        font-size: 10px;
    }
    .social-links-item{
        font-size: 30px;
    }
}

@media screen and (max-width:550px){
    .footer{
        height: 100px;
    }
    .footer p{
        font-size: 16px;
        line-height: 15px;
    }
    .footer-h{
        height: 80px;
    
    }
    .link-heading{
        font-size: 11px;
    }
    .social-links-item{
        font-size: 25px;
    }
}

@media screen and (max-width:440px){
    .footer p{
        font-size: 10px;
        line-height: 15px;
        font-weight: bold;
    }
    .social-links-item{
        font-size: 25px;
    }
}