.TopSection {
    position: fixed;
    z-index:200;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

#navbar{
    transition: top 0.3s;
}

.TopSectionExpanded {
    position: fixed;
    z-index:100;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.logo{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0.88;
}

.logo-img{
    max-width: 30%;
    max-height: 30%;
    height: auto;
}
.logo-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10%;
    /* padding-top: 7px; */
    font-weight: bold;
    font-family: Josefin Sans;
}
.menu-icon{
    display: none;
    margin-right: 20px;
    font-size: 28px;
    animation-name: iconRot;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: normal;
}

.exp-list-hidden{
    display: none;
}

.exp-list{
    display: inline;
    position: absolute;
    top: 30%;
}

.exp-li{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-ul{
    list-style-type: none;
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin:0;
    padding-left: 0;
    
}

.list-wrapper{
    padding: 2px 5px 2px 5px;
    background-color: #fff;
    margin-right: 2rem;
}

.list-wrapper-selected{
    border: 3px solid #143941;
    box-sizing: border-box;
}

.list-wrapper-selected-mob{
    border-bottom: 3px solid #143941;
    box-sizing: border-box;
}

.list-item{
    font-family: Josefin Sans;
    color: #24424C;
    margin:0;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.list-item-mob{
    font-family: Josefin Sans;
    color: #24424C;
    margin:0;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;

}

@media screen and (max-width: 850px){
    .list-wrapper{
        margin: 1em;
    }

    .TopSection{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media screen and (max-width: 625px){
    .list{
        display: none;
    }

    .logo-img{
        max-height: 30%;
        max-width: 30%;
    }

    .logo-text{
        font-size: 14px;
    }

    .menu-icon{
        display: inline;
    }
}

@media screen and (max-width: 500px){
    .list-wrapper{
        margin: 0;
    }
}


@keyframes iconRot {
    100%{
        transform:rotate(90deg); 
    }
}