.TopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    align-items: center;
}
.logo{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    max-width: 50%;
    height: auto;
    
}
.logo-text{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    font-weight: bold;
    font-family: Josefin Sans;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin:0;
    padding-left: 0;
    
}

.list-wrapper{
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 2rem;
}

.list-item{
    font-family: Josefin Sans;
    color: #24424C;
    margin:0;
    background-color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 850px){
    .list-wrapper{
        margin: 0;
    }
    .list{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 625px){
    .logo{
        display: none;
    }
}