.TopSection {
    position: fixed;
    z-index:200;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
    animation-name: enter;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.TopSectionExpanded {
    position: fixed;
    z-index:100;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
    animation-name: increase;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.TopSectionHidden {
    position: fixed;
    z-index:100;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
    margin-top: -7rem;
}

.logo{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    max-width: 30%;
    max-height: 30%;
    height: auto;
}
.logo-text{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    font-size: 18px;
    margin-top: 7%;
    font-weight: bold;
    font-family: Josefin Sans;
}
.menu-icon{
    display: none;
    margin-right: 20px;
    font-size: 28px;
    animation-name: iconRot;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-direction: normal;
}

.exp-list-hidden{
    display: none;
}

.exp-list{
    display: inline;
    position: absolute;
    top: 20%;
}

.exp-li{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-ul{
    list-style-type: none;
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin:0;
    padding-left: 0;
    
}

.list-wrapper{
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 2rem;
}

.list-item{
    font-family: Josefin Sans;
    color: #24424C;
    margin:0;
    background-color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 850px){
    .list-wrapper{
        margin: 1em;
    }

    .TopSection{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media screen and (max-width: 625px){
    .list{
        display: none;
    }

    .logo-img{
        max-height: 30%;
        max-width: 30%;
    }

    .logo-text{
        font-size: 14px;
    }

    .menu-icon{
        display: inline;
    }
}

@media screen and (max-width: 500px){
    .list-wrapper{
        margin: 0;
    }
}

@keyframes enter {
	0% {
		margin-top: -7rem;
	}
	50% {
		margin-top: 0;
	}
}

@keyframes iconRot {
    100%{
        transform:rotate(90deg); 
    }
}