.TS{
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.TS-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 40px;
    padding-top: 20px;
    color: #24424C;
    margin: auto;
}

.TS-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.TS-content-text{
    width: 50%;
}
.TS-content-text p{
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}

.TS-content-img{
    max-width: 35%;
    margin-left: 50px;
}

.TS-content-img img{
    max-width: 80%;
}
@media screen and (max-width:600px){
    .TS-heading{
        font-size: 36px;
        padding-top: 40px;
    }
    .TS-content-text p{
        font-size: 18px;
        text-align: left;
    }
    .TS-content-img{
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media screen and (max-width:400px){
    .TS-heading{
        font-size: 28px;
    }
}

@media screen and (max-width:450px){
    .TS-content{
        flex-direction: column;
    }
    .TS-content-img{
        max-width: 70%;
    }
    .TS-content-text{
        width: 80%;
    }

}




