.FPC{
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-image: url("../../../Assets/fpcBg.png");
}

.FPC-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: auto;
}

.FPC-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.FPC-content-text{
    width: 85%;
}
.FPC-content-text p{
    text-align: left;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.FPC-content-img{
    max-width: 35%;
}

.FPC-content-img img{
    max-width: 80%;
}
@media screen and (max-width:600px){
    .FPC-heading{
        font-size: 36px;
        max-width: 95%;
    }
    .FPC-content-text p{
        font-size: 18px;
        text-align: left;
    }
    .FPC{
        background-image: url("../../../Assets/fpcBgMob.svg");
    }
}

@media screen and (max-width:400px){
    .FPC-heading{
        font-size: 28px;
    }
}

@media screen and (max-width:450px){
    .FPC-content{
        flex-direction: column-reverse;
    }
    .FPC-content-img{
        max-width: 60%;
    }
    .FPC-content-text{
        width: 80%;
    }

}




