.FPC{
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FPC-heading{
    text-align: center;
    font-size: 48px;
    padding-bottom: 40px;
    color: #24424C;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}

.FPC-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.FPC-content-text{
    width: 85%;
}
.FPC-content-text p{
    text-align: left;
    font-family: Josefin Sans;
    font-style: normal;
    text-align: center;
    font-weight: 200;
    font-size: 35px;
}

.FPC-content-img{
    max-width: 35%;
}

.FPC-content-img img{
    max-width: 80%;
}
@media screen and (max-width:600px){
    .FPC-heading{
        font-size: 36px;
    }
    .FPC-content-text p{
        font-size: 22px;
    }
}

@media screen and (max-width:400px){
    .FPC-heading{
        font-size: 28px;
    }
}

@media screen and (max-width:450px){
    .FPC-content{
        flex-direction: column-reverse;
    }
    .FPC-content-img{
        max-width: 60%;
    }
    .FPC-content-text{
        width: 70%;
    }

    .FPC-content-text p{
        text-align: center;
    }
}




